#cg-fs-private2 > p {
  margin: 0;
  position: absolute;
  margin-bottom: 18.72px;
}

#cg-fs-private2 > h5 {
  font-weight: lighter;
  margin-top: 23.72px;
  margin-bottom: 0;
}

#cg-fs-private2 {
  margin-bottom: 18.72px;
}
